@import url('https://fonts.googleapis.com/css?family=Raleway')
;@import url('https://fonts.googleapis.com/css?family=Dosis')
	
;@media (min-width: 350px){
	#header {width:100%}	
	#photo {width: 100%}
}

#header {font-family: raleway, dosis, arial; background-color: #b2ebf2; padding: 30px; text-align:center;}

#sarah {font-family: raleway, dosis, arial; color: white;text-align: center;}

#about {font-family: raleway, dosis, arial; font-size: 22px;text-align: center;
	padding-right: 50px}

#portfolio {font-family: raleway, dosis, arial; font-size: 22px; color: white
	;text-align: center;}

#photo {height: 75%; width: 1250; float: center;}


a:link {color:white; font-family: raleway, dosis, arial;}
a:visited {color:white; font-family: raleway, dosis, arial;}
a:hover {color:#f7d3cd; font-family: raleway, dosis, arial;}